<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.survograph"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.PREFERENCE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registeration"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ViewGraph"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ChangePassword"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.lsbn.EnterRadiusActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.lsbn.GetPlace"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.lsbn.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.lsbn.MyLocation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.lsbn.MyMap"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.lsbn.Navigate"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.lsbn.SinglePlaceActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AdminPanel"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ManageDataset"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UserPanel"
            android:label="@string/app_name" >
        </activity>
      
    </application>

</manifest>